Source: ros-indigo-qsr-prob-rep
Section: misc
Priority: extra
Maintainer: Christian Dondrup <cdondrup@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-message-generation, ros-indigo-roslib, ros-indigo-rospy, ros-indigo-rostest, ros-indigo-rosunit, ros-indigo-std-msgs, ros-indigo-std-srvs
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-qsr-prob-rep
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libghmm-ne, ros-indigo-message-runtime, ros-indigo-roslib, ros-indigo-rospy, ros-indigo-rostest, ros-indigo-std-msgs, ros-indigo-std-srvs
Description: The qsr_prob_rep package
